<div class="modal-wrapper">
    <div class="modal-header">{{ 'tk.about-modal.title' | translate: { appVer } }}</div>
    <div class="modal-content">
        <div class="base-info">
            <p>
                <span>{{ 'tk.about-modal.label.developer' | translate }}: </span>
                <a
                    href="https://github.com/Arthez"
                    target="_blank"
                    >Arthez</a
                >
            </p>
            <p>
                <span>{{ 'tk.about-modal.label.repository' | translate }}: </span>
                <a
                    href="https://github.com/Arthez/nemesis-helper"
                    target="_blank"
                    >Nemesis-helper</a
                >
            </p>
            <p>
                <span>{{ 'tk.about-modal.label.publisher' | translate }}: </span>
                <a
                    href="https://awakenrealms.com/"
                    target="_blank"
                    >Awaken Realms</a
                >
            </p>
            <p>
                <span>{{ 'tk.about-modal.label.designer' | translate }}: </span>
                <a
                    href="https://boardgamegeek.com/boardgamedesigner/61569/adam-kwapinski"
                    target="_blank"
                    >Adam Kwapiński</a
                >
            </p>
            <p>
                <span>{{ 'tk.about-modal.label.contact' | translate }}: </span>
                <a
                    href="https://boardgamegeek.com/geekmail/compose?touser=Arthez"
                    target="_blank"
                    >{{ 'tk.about-modal.label.here' | translate }}</a
                >
            </p>
        </div>
        <div class="app-info">
            <div>{{ 'tk.about-modal.label.info' | translate }}</div>
            <ul>
                <li>
                    <span>{{ 'tk.about-modal.label.info.game-save' | translate }}</span>
                </li>
                <li>
                    <span>{{ 'tk.about-modal.label.info.save-storage' | translate }}</span>
                </li>
                <li>
                    <span>{{ 'tk.about-modal.label.info.disabled-actions' | translate }}</span>
                </li>
                <li>
                    <span>{{ 'tk.about-modal.label.info.hotkey-next-step' | translate }}</span>
                </li>
                <li>
                    <span>{{ 'tk.about-modal.label.info.hotkey-player-timer' | translate }}</span>
                </li>
                <li>
                    <span>{{ 'tk.about-modal.label.info.languages' | translate }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
