.modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--sizing-20);

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-10);

        .important {
            font-weight: 600;
            color: var(--important-color);
        }
    }

    .logs {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-5);
        padding: 0 var(--sizing-10);

        .empty-logs {
            display: flex;
            justify-content: center;
            font-style: italic;
            color: var(--secondary-text-color);
        }
    }
}

.monster {
    color: var(--logs-monster-type-color);
}

.tracker {
    color: var(--logs-tracker-type-color);
}

.event {
    color: var(--logs-event-type-color);
}
