$button-size: 42px;

:host {
    overflow: auto;
    width: 100%;
    height: 100%;

    > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: var(--sizing-20);
        min-width: 920px;
    }

    app-nld-round-item {
        margin-bottom: 10px;
    }

    button {
        max-height: $button-size;
        height: $button-size;
        min-width: $button-size;
        min-height: $button-size;
        margin-left: var(--sizing-20);
    }
}
