<div class="buttons-container">
    <button
        mat-flat-button
        color="primary"
        appNonFocusable
        [matMenuTriggerFor]="drawMonsterMenu">
        <div class="icon-with-label">
            <span>{{ 'tk.monsters.button.draw' | translate }}</span>
            <mat-icon
                svgIcon="swords"
                class="small-icon"></mat-icon>
        </div>
    </button>
    <mat-menu #drawMonsterMenu="matMenu">
        <button
            mat-menu-item
            (click)="draw.emit(null)">
            {{ 'tk.monsters.button.draw.random' | translate }}
        </button>
        <button
            mat-menu-item
            [matMenuTriggerFor]="drawMonsterManuallyMenu">
            {{ 'tk.monsters.button.draw.manual' | translate }}
        </button>
    </mat-menu>
    <mat-menu #drawMonsterManuallyMenu="matMenu">
        @for (monsterType of monstersTypes; track monsterType) {
            <button
                mat-menu-item
                [disabled]="!(bagMonsters | monsterAttainable: monsterType)"
                (click)="draw.emit(monsterType)">
                {{ monsterType | monsterTypeTk | translate }}
            </button>
        }
    </mat-menu>
    <button
        mat-flat-button
        color="primary"
        appNonFocusable
        [matMenuTriggerFor]="addMonsterMenu">
        <div class="icon-with-label">
            <span>{{ 'tk.monsters.button.add' | translate }}</span>
            <mat-icon
                svgIcon="bag"
                class="small-icon"></mat-icon>
        </div>
    </button>
    <mat-menu #addMonsterMenu="matMenu">
        @for (monsterType of monstersTypes; track monsterType) {
            <button
                mat-menu-item
                [disabled]="!(availableMonsters | monsterAttainable: monsterType)"
                (click)="add.emit(monsterType)">
                {{ monsterType | monsterTypeTk | translate }}
            </button>
        }
    </mat-menu>
    <button
        mat-flat-button
        color="primary"
        appNonFocusable
        (click)="details.emit()">
        <div class="icon-with-label">
            <span>{{ 'tk.monsters.button.details' | translate }}</span>
            <mat-icon
                svgIcon="eye"
                class="small-icon"></mat-icon>
        </div>
    </button>
</div>
<div class="monsters">
    <div>
        @for (monster of activeMonsters; track monster.id) {
            <app-monster-item
                [monster]="monster"
                [showMenu]="true"
                (kill)="onMonsterKill($event)"
                (retreat)="onMonsterRetreat($event)"></app-monster-item>
        }
    </div>
</div>
